body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/background-black.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
  border-radius: 0;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button.disabled
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 75px;
}

.inner-page .main-header {
  margin-bottom: 50px;

  background-color: #000000;
}

.main-header-logo {
  order: 2;

  width: 371px;
  height: 155px;
}

.inner-page .main-header-logo {
  order: 0;

  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.user-navigation {
  display: flex;
  max-width: 140px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 40px;

  width: 16px;
  height: 18px;

  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 300px;

  text-align: center;
}

.features-item h3 {
  position: relative;

  margin: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.features-item h3::after {
  content: "";

  position: absolute;
  left: 50%;
  bottom: -30px;

  margin-left: -10px;
  width: 20px;
  height: 20px;

  background-color: #ffffff;

  transform: rotate(45deg);
}

.features-item p {
  margin: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000000;

  background-color: #f8f5f2;
  background-image:
    url("../img/line.png"),
    url("../img/background.jpg");
  background-position:
    center,
    0 0;
  background-repeat:
    no-repeat,
    repeat;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 40px;
}

.news {
  width: 380px;
}

.news-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.news-item a {
  color: #000000;
}

.news-list .news-date {
  text-transform: none;
}

.gallery {
  width: 300px;
}

.gallery-container {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  padding: 0;

  background-color: #e5e5e5;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery-button {
  position: absolute;

  width: 140px;
  margin: 0;
  box-sizing: border-box;
  bottom: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment {
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appointment-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-form input {
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  box-sizing: border-box;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-form input:focus {
  border-color: #663d15;
}

.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;

  color: #ffffff;

  background-color: #000000;
  background-image: url("../img/pattern-dark.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-footer {
  margin-top: 35px;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;

  color: #ffffff;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000
}

.main-footer .copyright {
  width: 140px;
  margin: 0;
  margin-left: auto;

  text-align: center;
}

.copyright b {
  display: block;
  margin-bottom: 15px;
}

.copyright .button {
  display: block;
  margin-right: 0;
}

.copyright .button:hover,
.copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f8f5f2;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-password-checkbox:hover,
.login-password-checkbox:focus {
  color: #663d15;
}

.login-forget {
  color: #000000;

  text-decoration: underline;
}

.login-forget:hover,
.login-forget:focus {
  text-decoration: none;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 7px;
  right: -25px;

  width: 8px;
  height: 8px;

  background-color: #000000;

  transform: rotate(45deg);
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.inner-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 180px;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;

  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 42px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:bled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-checkbox + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: 0;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
}

.filter-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: -38px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: -1px;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -36px;
  top: 5px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
}

.catalog {
  width: 700px;
  margin-bottom: 25px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  display: flex;
  flex-direction: column;

  color: #000000;
}

.catalog-item h3 {
  order: 1;
  margin-top: 17px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 15px;

  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  display: block;

  text-transform: none;
}

.catalog-item-image {
  width: 220px;
  height: 165px;
  margin: 0;
}

.catalog-item-price {
  display: flex;
  margin: 15px;
  margin-top: 0;
}

.catalog-item-price b {
  width: 112px;
  padding-top: 13px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  width: 45px;
  margin: 0;
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 11px;

  line-height: 20px;
  color: #ffffff;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 19px;

  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  background-color: #000000;
}

.product-photos {
  width: 460px;
}

.product-photo-full {
  margin: 0;
  margin-bottom: 20px;
}

.product-photo-preview {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-photo-preview li {
  width: 140px;
  height: 149px;
  margin-right: 20px;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-preview li:last-child {
  margin-right: 0;
}

.product-photo-full {
  width: 460px;
  height: 498px;
  margin: 0;
  margin-bottom: 20px;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-info {
  width: 390px;
  padding-top: 23px;
}

.product-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  padding-right: 10px;
}

.product-description p {
  width: 200px;
}

.product-availability {
  margin: 0;
}

.product-vendor {
  margin: 0;

  text-align: right;
  color: #aeaeae;
}

.product-text {
  margin: 0;
  margin-bottom: 35px;
}

.product-price {
  display: flex;
  margin: 0;
  margin-bottom: 63px;
}

.product-price b {
  width: 112px;
  padding-top: 13px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 11px;

  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;

  box-sizing: border-box;
}

.product-price .button {
  padding-left: 17px;
  padding-right: 17px;
}

.product-kit h3 {
  margin: 0;
  margin-bottom: 27px;

  font-size: 24px;
  line-height: 30px;
}

.product-kit ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-kit li {
  position: relative;

  padding-left: 23px;
}

.product-kit li::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 2px;

  width: 8px;
  height: 8px;

  background-color: #000000;

  transform: rotate(45deg);
}
